<div class="container">
    <!-- Dropdown filter -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Category
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each category}}
        <a class="dropdown-item" href="/filter/{{this.name}}">{{this.name_cn}}</a>
        {{/each}}
      </div>
    </div>

    <!-- Total expense -->
    <span>
      <h6 style="display: inline;">Total:</h6>
      <h1 style="display: inline;">{{totalAmount}}</h1>
    </span>

    <!-- List -->
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="row d-flex align-items-center">
          <div class="col-auto mr-auto d-flex align-items-center">
            <i class="{{this.iconClass}} fa-lg mr-2"></i>
            <div>
              <h4> 
                {{this.name}}
              </h4>
              <h6>
                {{moment this.date format="YYYY-MM-DD"}}
              </h6>
            </div>
          </div>
          <div class="col-auto">
            <h1>
              {{this.amount}}
            </h1>
          </div>
          <div class="col-auto">
            <a class="btn btn-success" href="/records/{{this._id}}/edit">edit</a>
            <form action="/records/{{this._id}}?_method=DELETE" method="post" style="display: inline;">
              <button class="btn btn-danger" type="submit">delete</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    <a class="btn btn-success" href="/records/new">新增支出</a>
</div>
